[flake8]
# UFN plugin must be run in serial
jobs = 0

max-line-length = 120
exclude =
    doc,
    .tox,
    .git,
    .yml,
    Pipfile.*,
    ansible/*,
    docs/*,
    .cache/*

fcfn_exclude_functions =
    re,
    split,
    replace,
    os,
    parser,
    urllib,
    shutil,
    LOGGER,
    get_plugin,
    ElementTree,
    xml_doc,
    findall,
    record_testsuite_property,
    get,
    time,
    tmpdir_factory,
    sh,
    json,
    yaml,
    subprocess,
    jinja2,
    xmltodict,
    netaddr,
    request,
    sub,
    extend,
    setdefault,
    append,
    join,
    deepcopy,
    logging,
    add_option,
    pytest,
    update,
    expect,
    sendline,
    write,
    insert,
    send,
    namedtuple,
    strip,
    parametrize,
    pop,
    remove,
    console_eof_sampler,
    check_output,
    sleep,
    datetime,
    intersection,
    keys,
    resource_stream,

enable-extensions =
    PID,
    FCFN,
    UFN,
