[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"

[packages]
openshift = "*"
kubernetes = "*"
pexpect = "*"
PyYAML = "*"
ipython = "*"
ipdb = "*"
pytest = "*"
python-autologs = "*"
bitmath = "*"
urllib3 = "*"
pytest-jira = "*"
pytest-marker-bugzilla = {editable = true, ref = "py3-fix", git = "https://github.com/myakove/pytest_marker_bugzilla.git"}
pytest-testconfig = {editable = true, ref = "overriding-values-is-broken", git = "https://github.com/myakove/pytest-testconfig.git"}
python-bugzilla = "*"
sh = "*"
pytest-ordering = "*"
ansible = {git = "https://github.com/ansible/ansible.git"}
jinja2 = "*"

[requires]
python_version = "3.7"
