[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ipdb = "*"
ipython = "==7.16.1"  # pipenv fail to install on python 3.6.8 when version > 7.16.1
openshift = "*"
kubernetes = "*"
pexpect = "*"
PyYAML = "*"
pytest = "*"
bitmath = "*"
urllib3 = "*"
netaddr = "*"
bcrypt = "*"
pytest-marker-bugzilla = "*"
pytest-testconfig = "*"
python-bugzilla = "==2.3.0"  # pipenv fail to install on python 3.6.8 when version > 2.3.0
sh = "*"
pytest-ordering = "*"
ansible = {editable = true, git = "https://github.com/ansible/ansible.git",ref = "devel"}
jinja2 = "*"
requests = "*"
xmltodict = "*"
pytest-jira = "==0.3.11"
python-rrmngmnt = "*"
importlib-metadata = "*"
importlib-resources = "*"
ovirt-python-sdk = "*"
click = "*"
ocp-python-wrapper = {git = "https://gitlab.cee.redhat.com/cnv-qe/ocp-python-wrapper.git"}

[requires]
python_version = "3"
